<article
  class="battleContainer"
  *ngIf="selectedPlayerPokemon && selectedPlayerPokemon.mainType"
>
  <section class="intro" *ngIf="!isIntroover">
    <ul class="player team">
      <li *ngFor="let pokemon of playerTeam; let i = index">
        <img
          src="{{ pokemon.sprites.official_artwork }}"
          alt="{{ pokemon.name }} official artwork"
        />
      </li>
    </ul>

    <ul class="npc team">
      <li *ngFor="let npcPokemon of npcTeam; let x = index">
        <img
          src="{{ npcPokemon.sprites.official_artwork }}"
          alt="{{ npcPokemon.name }} official artwork"
        />
      </li>
    </ul>

    <div class="introVsIcon">
      <img src="/assets/images/icons/vs.png" alt="VS icon" />
    </div>
  </section>

  <section class="battleResult" *ngIf="isWinnerKnown">
    <ul class="winnerTeam">
      <li *ngFor="let pokemon of playerTeam; let i = index">
        <img
          src="{{ pokemon.sprites.official_artwork }}"
          alt="{{ pokemon.name }} official artwork"
        />
      </li>
    </ul>
    <p class="text" *ngIf="isPlayerWinner">
      Congratulations!<br />You have won!
    </p>
    <p class="text losing" *ngIf="!isPlayerWinner">
      Unfortunately!<br />You have lost!
    </p>
  </section>

  <ul class="data playerData">
    <li
      [ngClass]="{
        deadPokemon: pokemon.maxHp <= 0,
        pokemons: true
      }"
      *ngFor="let pokemon of playerTeam; let i = index"
    >
      <img
        src="{{ pokemon.sprites.official_artwork }}"
        alt="{{ pokemon.name }} official artwork"
      />
    </li>
  </ul>

  <ul class="data npcData">
    <li
      [ngClass]="{ deadPokemon: npcPokemon.maxHp <= 0, pokemons: true }"
      *ngFor="let npcPokemon of npcTeam; let y = index"
    >
      <img
        src="{{ npcPokemon.sprites.official_artwork }}"
        alt="{{ npcPokemon.name }} official artwork"
      />
    </li>
  </ul>

  <ul class="pokemonTypes playerPokemonTypes">
    <li *ngFor="let type of selectedPlayerPokemon.types">
      <img
        src="/assets/images/typesIcons/{{ type }}.png"
        alt="pokemon {{ type }} icon"
      />
    </li>
  </ul>

  <ul class="pokemonTypes npcPokemonTypes">
    <li *ngFor="let type of selectedNpcPokemon.types">
      <img
        src="/assets/images/typesIcons/{{ type }}.png"
        alt="pokemon {{ type }} icon"
      />
    </li>
  </ul>

  <!-- field pokemons -->

  <div
    class="playerPokemon"
    [ngStyle]="{ '--hp': selectedPlayerPokemon.maxHp + '%' }"
    [class.lowHp]="selectedPlayerPokemon.maxHp <= 40"
  >
    <img
      src="{{ selectedPlayerPokemon.sprites.back_default }}"
      alt="{{ selectedPlayerPokemon.name }}
    back default"
    />
  </div>

  <div
    class="npcPokemon"
    [ngStyle]="{ '--hp': selectedNpcPokemon.maxHp + '%' }"
    [class.lowHp]="selectedNpcPokemon.maxHp <= 40"
  >
    <img
      src="{{ selectedNpcPokemon.sprites.front_default }}"
      alt="{{ selectedNpcPokemon.name }}
    back default"
    />
  </div>

  <ul class="pokemonsSelectButtons">
    <li
      [ngStyle]="{
        background:
          'conic-gradient(var(--type-' +
          pokemon.mainType +
          ') ' +
          pokemon.maxHp +
          '%, transparent 0% )'
      }"
      *ngFor="let pokemon of playerTeam"
      [class.deadPokemon]="pokemon.maxHp <= 0"
    >
      <button
        [disabled]="pokemon.maxHp <= 0"
        (click)="handleSelectedPokemon(pokemon.name)"
      >
        <img
          src="{{ pokemon.sprites.front_default }}"
          alt="{{ pokemon.name }} front default"
        />
      </button>
    </li>
  </ul>

  <button
    class="attackButton"
    [ngStyle]="{
      boxShadow:
        'inset 0 0 0 .3em var(--type-' +
        selectedPlayerPokemon.mainType +
        '),  0 0 0 .3em var(--type-' +
        selectedPlayerPokemon.mainType +
        ')'
    }"
    (click)="attack()"
  >
    <img
      src="/assets/images/typesIcons/{{ selectedPlayerPokemon.mainType }}.png"
      alt="{{ selectedPlayerPokemon }} main type icon"
    />
  </button>

  <div class="filedImageContainer">
    <img
      src="/assets/images/battleFields/{{ selectedField }}"
      alt="selectedField"
    />
  </div>

  <div class="vsIcon">
    <img src="/assets/images/icons/vs.png" alt="VS icon" />
  </div>

  <button class="surrenderingButton" (click)="surrendering()">
    surrendering
  </button>

  <button class="musicButton" (click)="playMusic()">
    <img
      *ngIf="isMusicPlayed"
      src="/assets/images/icons/speaker.svg"
      alt="speaker icon"
    />
    <img
      *ngIf="!isMusicPlayed"
      src="/assets/images/icons/speaker-muted.svg"
      alt="muted speaker icon"
    />
  </button>
</article>

<!-- bron: https://downloads.khinsider.com/game-soundtracks/album/pokemon-sword-shield-ost -->
<audio
  id="battleMusic"
  loop
  style="position: absolute; top: 5em; left: 0; z-index: 99999"
  src="https://vgmsite.com/soundtracks/pokemon-sword-shield-ost/vlmfxbhinb/95%20-%20Battle%21%20%28Pok%C3%A9mon%20League%20Tournament%29.mp3"
></audio>
