h1 {
  font-size: 1.5em;
}

ul {
  width: 100%;
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}

li {
  width: 10em;
  border-radius: 1em;
  box-shadow: var(--box-shadow);

  background-color: var(--white);
  position: relative;
  overflow: hidden;
}

.dialog {
  width: 85%;
  /* height: 95%; */
  aspect-ratio: 2/3;
  padding: 1em;

  border: none;
  border-radius: 1rem;
  background-color: var(--sidebar_background_color);
  display: grid;
  grid-template-rows: auto 1fr;

  box-shadow: inset 0 0 0 0.5em red;
}

.dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

.dialog.close {
  display: none;
}

.imageContainer {
  width: 100%;
  aspect-ratio: 16/9;
}

.imageContainer img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
