<main
  [style]="{
    '--id-bg-color': 'var(--type-' + PokemonMainType + ')'
  }"
>
  <h1>All Pokemon's</h1>

  <ul class="pokemonList">
    <li *ngFor="let pokemon of pokemonList">
      <pokemonBlock
        [pokemonData]="pokemon"
        (openDialogEvent)="openDialog($event)"
      ></pokemonBlock>
    </li>
  </ul>

  <dialog
    #dialogRef
    class="dialog close"
    [ngStyle]="{
      'box-shadow': '0 0 0 0.5em  var(--type-' + PokemonMainType + ')'
    }"
  >
    <h2 class="dialogPokemonName">
      {{ pokemonData?.name }}
    </h2>
    <div
      class="mainTypeIcon"
      [ngStyle]="{
        'background-image':
          'url(/assets/images/typesIcons/' + PokemonMainType + '.png' + ')'
      }"
    ></div>
    <p class="dialogPokemonId">
      {{ formattedPokemonId }}
    </p>
    <div
      class="dialogImageContainer"
      [ngStyle]="{
        'border-color': 'var(--type-' + PokemonMainType + ')',
        'background-image':
          'radial-gradient(white, var(--type-' + PokemonMainType + ')80%)'
      }"
    >
      <img
        [src]="pokemonData?.sprites?.official_artwork"
        alt="pokemon official artwork"
      />
    </div>

    <!-- ! add the actieve class -->
    <section class="details">
      <div class="tabsButtonsContainer">
        <!-- class="active" -->
        <button
          (click)="handleOpenTab('aboutTab')"
          [class.active]="openTabName === 'aboutTab'"
          [ngStyle]="{
            color:
              openTabName === 'aboutTab'
                ? 'var(--type-' + PokemonMainType + ')'
                : '',
            'border-bottom-color':
              openTabName === 'aboutTab'
                ? 'var(--type-' + PokemonMainType + ')'
                : ''
          }"
        >
          About
        </button>
        <button
          (click)="handleOpenTab('stateTab')"
          [class.active]="openTabName === 'stateTab'"
          [ngStyle]="{
            color:
              openTabName === 'stateTab'
                ? 'var(--type-' + PokemonMainType + ')'
                : '',
            'border-bottom-color':
              openTabName === 'stateTab'
                ? 'var(--type-' + PokemonMainType + ')'
                : ''
          }"
        >
          State
        </button>
        <button
          (click)="handleOpenTab('evolutionTab')"
          [class.active]="openTabName === 'evolutionTab'"
          [ngStyle]="{
            color:
              openTabName === 'evolutionTab'
                ? 'var(--type-' + PokemonMainType + ')'
                : '',
            'border-bottom-color':
              openTabName === 'evolutionTab'
                ? 'var(--type-' + PokemonMainType + ')'
                : ''
          }"
        >
          Evolution
        </button>
      </div>
      <section class="tabContainer" [ngSwitch]="openTabName">
        <div *ngSwitchDefault="'aboutTab'" class="aboutTab">
          <ul class="typesList">
            <li *ngFor="let type of pokemonData?.types">
              <span
                [ngStyle]="{
                  'background-image':
                    'url(/assets/images/typesIcons/' + type + '.png' + ')'
                }"
              >
              </span>
              {{ type }}
            </li>
          </ul>
          <div class="weight">
            <p>weight</p>
            <p>
              {{ pokemonData?.weight }}
              Kg
            </p>
          </div>
          <div class="height">
            <p>height</p>
            <p>
              {{ pokemonData?.height }}
              M
            </p>
          </div>
          <p class="abilitiesTitle">Abilities</p>
          <ul class="abilitiesList">
            <li *ngFor="let ability of pokemonData?.abilities">
              {{ ability?.ability?.name }}
            </li>
          </ul>
        </div>

        <div *ngSwitchCase="'stateTab'" class="stateTab">
          <ul>
            <li
              *ngFor="let state of pokemonData?.stats"
              [ngStyle]="{
                '--stat-bg-color': 'var(--type-' + PokemonMainType + ')',
                '--color-spread': state?.baseStat + '%'
              }"
            >
              <p>{{ state?.statName }}</p>
              <p>{{ state?.baseStat }}</p>
            </li>
          </ul>
        </div>
        <div *ngSwitchCase="'evolutionTab'" class="evolutionTab">
          evolution div
        </div>
      </section>
    </section>
    <button class="closeDialog" (click)="closeDialog()">
      <img src="/assets/images/icons/Close.svg" alt="" />
    </button>
  </dialog>
</main>
