<div
  class="dialog"
  [ngStyle]="{
    '--pokemon-type-color': 'var(--type-' + pokemonData?.mainType + ')'
  }"
>
  <h2 mat-dialog-title class="dialogPokemonName">
    {{ pokemonData?.name }}
  </h2>
  <div
    class="mainTypeIcon"
    [ngStyle]="{
      'background-image':
        'url(/assets/images/typesIcons/' + pokemonData?.mainType + '.png' + ')'
    }"
  ></div>
  <p class="dialogPokemonId">
    {{ pokemonData?.formattedPokemonId }}
  </p>
  <div class="dialogImageContainer">
    <img
      [src]="pokemonData?.sprites?.official_artwork"
      alt="pokemon official artwork"
    />
  </div>

  <section class="details">
    <div class="tabsButtonsContainer">
      <button
        (click)="handleOpenTab('aboutTab')"
        [class.active]="openTabName === 'aboutTab'"
        [ngStyle]="{
          color:
            openTabName === 'aboutTab'
              ? 'var(--type-' + pokemonData?.mainType + ')'
              : '',
          'border-bottom-color':
            openTabName === 'aboutTab'
              ? 'var(--type-' + pokemonData?.mainType + ')'
              : '',
          'font-weight': openTabName === 'aboutTab' ? '800' : '600'
        }"
      >
        About
      </button>
      <button
        (click)="handleOpenTab('stateTab')"
        [class.active]="openTabName === 'stateTab'"
        [ngStyle]="{
          color:
            openTabName === 'stateTab'
              ? 'var(--type-' + pokemonData?.mainType + ')'
              : '',
          'border-bottom-color':
            openTabName === 'stateTab'
              ? 'var(--type-' + pokemonData?.mainType + ')'
              : '',
          'font-weight': openTabName === 'stateTab' ? '800' : '600'
        }"
      >
        State
      </button>
      <button
        (click)="handleOpenTab('evolutionTab')"
        [class.active]="openTabName === 'evolutionTab'"
        [ngStyle]="{
          color:
            openTabName === 'evolutionTab'
              ? 'var(--type-' + pokemonData?.mainType + ')'
              : '',
          'border-bottom-color':
            openTabName === 'evolutionTab'
              ? 'var(--type-' + pokemonData?.mainType + ')'
              : '',
          'font-weight': openTabName === 'evolutionTab' ? '800' : '600'
        }"
      >
        Evolution
      </button>
    </div>
    <section class="tabContainer" [ngSwitch]="openTabName">
      <div *ngSwitchCase="'aboutTab'" class="aboutTab">
        <ul class="typesList">
          <li *ngFor="let type of pokemonData?.types">
            <span
              [ngStyle]="{
                'background-image':
                  'url(/assets/images/typesIcons/' + type + '.png' + ')'
              }"
            >
            </span>
            {{ type }}
          </li>
        </ul>
        <div class="weight">
          <p>weight</p>
          <p>
            {{ pokemonData?.weight }}
            Kg
          </p>
        </div>
        <div class="height">
          <p>height</p>
          <p>
            {{ pokemonData?.height }}
            M
          </p>
        </div>
        <p class="abilitiesTitle">Abilities</p>
        <ul class="abilitiesList">
          <li *ngFor="let ability of pokemonData?.abilities">
            {{ ability?.ability?.name }}
          </li>
        </ul>
      </div>

      <div *ngSwitchCase="'stateTab'" class="stateTab">
        <ul>
          <li
            *ngFor="let state of pokemonData?.stats"
            [ngStyle]="{
              '--color-spread': state?.baseStat + '%'
            }"
          >
            <p>{{ state?.statName }}</p>
            <p>{{ state?.baseStat }}</p>
          </li>
        </ul>
      </div>
      <div *ngSwitchDefault class="evolutionTab">
        <ul [ngClass]="{ changePaddingButton: pokemonEvolutions.length > 3 }">
          <li
            *ngFor="let evolution of pokemonEvolutions; let i = index"
            [ngStyle]="{
              'animation-delay': i * 0.5 + 's'
            }"
          >
            <div class="evolutionImage">
              <img [src]="evolution?.sprites?.front_default" alt="" />
            </div>
            <div class="evolutionDitails">
              <h3>{{ evolution.name }}</h3>
              <p>{{ evolution.formattedPokemonId }}</p>
            </div>
            <div class="evolutionType">
              <img
                *ngFor="let type of evolution.types"
                src="assets/images/typesIcons/{{ type }}.png"
                alt=""
              />
            </div>
          </li>
        </ul>
      </div>
    </section>
  </section>
  <button class="closeDialog" (click)="closeDialog()"></button>
</div>
