<div class="navbar">
  <span>
    <nav class="navBarList">
      <ul [ngClass]="{ darkMode: darkMode }">
        <li>
          <a
            routerLink="/AllPokémons"
            routerLinkActive="activeLink"
            class="pokedexLink"
          >
          </a>
        </li>
        <li>
          <a
            routerLink="/favorites"
            routerLinkActive="activeLink"
            class="FavoritesLink"
          ></a>
        </li>
        <li>
          <a
            routerLink="/battle"
            routerLinkActive="activeLink"
            class="battleLink"
          ></a>
        </li>
        <li>
          <a
            routerLink="/search"
            routerLinkActive="activeLink"
            class="searchLink"
          ></a>
        </li>
      </ul>
    </nav>
  </span>

  <div class="actionButtons">
    <button
      [ngClass]="{ isListOpen: isListOpen }"
      class="battleListButton"
      (click)="handleOpenList()"
      [disabled]="isBattlePage"
    >
      <p>{{ battelTeamMembers }}</p>
    </button>

    <button
      class="modeButton"
      [ngClass]="{ darkMode: darkMode }"
      (click)="handleMode()"
    >
      <img
        *ngIf="darkMode"
        src="/assets/images/icons/lunatone.svg"
        alt="lunatone"
      />
      <img
        *ngIf="!darkMode"
        src="/assets/images/icons/solrock.svg"
        alt="solrock"
      />
    </button>
  </div>
</div>
