.navbar {
  width: 100%;
  height: 100%;

  padding: 1em 0.5em;
  border: none;
  background-color: var(--background_color);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.navBarList ul {
  width: 100%;
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.navBarList ul li {
  width: 100%;
  aspect-ratio: 1;
  background-color: transparent;
}

.navBarList ul li a {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  color: var(--primary_midnight);
  transition: 0.5s;
  opacity: 0.65;

  background-repeat: no-repeat;
  background-position: center;
  background-size: 1.5em;
}

.navBarList ul.darkMode li a {
  background-color: var(--primary_midnight);
}

.navBarList ul li .pokemonsLink {
  background-image: url(/assets/images/icons/pokeball.svg);
}

.navBarList ul li .pokemonsLink.activeLink {
  background-image: url(/assets/images/icons/active-pokeball.svg);
}

.navBarList ul li .FavoritesLink {
  background-image: url(/assets/images/icons/unfavorited.svg);
}

.navBarList ul li .FavoritesLink.activeLink {
  background-image: url(/assets/images/icons/favorited.svg);
}

.navBarList ul li .battleLink {
  background-image: url(/assets/images/icons/battle.svg);
}

.navBarList ul li .battleLink.activeLink {
  background-image: url(/assets/images/icons/active-battle.svg);
}

.navBarList ul li .searchLink {
  background-image: url(/assets/images/icons/search.svg);
}

.navBarList ul li .searchLink.activeLink {
  background-image: url(/assets/images/icons/active-search.svg);
}

.navBarList ul li .activeLink,
.navBarList ul.darkMode li .activeLink {
  font-weight: 400;
  opacity: 1;
  background-color: var(--primary_purple);
  color: var(--active-button-tekst);
}

.modeButton {
  width: 100%;
  aspect-ratio: 1;
  border-radius: 50%;
  margin: 0;
  padding: 0;
  background-color: transparent;
  transition: 1s;
  color: var(--pokemons-names-color);
  box-shadow: inset 0 0 0 0.2em var(--primary_purple);
}

.modeButton.darkMode {
  color: white;
  background-color: var(--primary_purple);
}

.modeButton img {
  width: 100%;
  height: auto;
  object-fit: contain;
  object-position: center;
}

/* TODO: remove to search page */
/* 
.logoSearchContainer label {
  display: block;
  width: 80%;
  height: 2.5em;

  border-radius: 0.75rem;
  padding: 0.75rem 1.25rem;
  background-color: var(--searchBar-background);

  background-image: url(/assets/images/icons/search.svg);
  background-repeat: no-repeat;
  background-position: 0.5em;
  background-size: 100% contain;
  box-shadow: var(--box-shadow);
  box-shadow: inset 0 0 0.5em var(--shadow-color);
}

.logoSearchContainer label #search {
  width: 100%;
  height: 100%;
  font-family: var(--primary-font);
  font-size: 1rem;
  font-weight: 500;
  line-height: 120%;
  color: var(--primary_midnight);
  border: none;
  background-color: transparent;

  text-indent: 1.5em;

  --webkit-appearance: textfield;
  outline-offset: -2px;
}

.logoSearchContainer label #search:focus-visible {
  outline: none;
} */
