<div class="container">
  <h2>{{ pokemonData.name }}</h2>
  <p>{{ pokemonData.formattedPokemonId }}</p>
  <div class="imageContainer">
    <img
      class="frontImage"
      [src]="pokemonData.sprites.front_default"
      alt="pokemon"
    />
    <img
      class="backImage"
      [src]="pokemonData.sprites.back_default"
      alt="pokemon"
    />
  </div>
  <button (click)="handleAddToFavorite(); reCheckList()">
    <img
      [src]="
        favoritedPokemon
          ? '/assets/images/icons/favorited.svg'
          : '/assets/images/icons/unfavorited.svg'
      "
      alt="add to favorite"
    />
  </button>
</div>
<ul>
  <li class="buttonItem">
    <button (click)="openDialog()">
      <img src="/assets/images/icons/open.svg" alt="open the pokemon details" />
    </button>
  </li>
  <li class="buttonItem">
    <button>
      <img
        (click)="handleBattlePokemon()"
        [src]="
          battlePokemon
            ? '/assets/images/icons/active-battle.svg'
            : '/assets/images/icons/battle.svg'
        "
        alt="choese the pokemon fot a battle"
      />
    </button>
  </li>
</ul>
