header {
  width: 100%;
  height: 4em;

  padding: 0 2em;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: var(--top-layer);
  background-color: var(--background_color);

  display: flex;
  justify-content: center;
  align-items: center;
}
.pokemonLogo {
  width: 100%;
  height: initial;
}

.pokemonLogo img {
  width: 100%;
  height: 2.5em;
  object-fit: contain;
}

header > button {
  width: 2.5em;
  height: 2.5em;
  border-radius: 50%;
  position: absolute;
  right: 1.5em;
}

header > button img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.navbarContainer {
  height: fit-content;
  width: fit-content;
}

.searchBar input::-webkit-outer-spin-button,
.searchBar input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  appearance: textfield;
  -moz-appearance: textfield;
}

main {
  padding-top: 3em;
  display: grid;
  grid-template-columns: 3em 1fr;
  grid-template-areas: "navbar content";
}

.navbarContainer {
  width: 3em;
  height: calc(100% - 5em);
  position: fixed;
  left: 0;
}

.contentContainer {
  grid-area: content;
  padding: 0 0.5em 3em 0.5em;
}

footer {
  width: 100%;
  height: 2em;
  padding: 0 0.5em;

  position: fixed;
  bottom: 0;
  z-index: var(--top-layer);

  display: grid;
  place-items: center;

  background-color: var(--background_color);
}

.rights {
  width: fit-content;
  font-family: var(--primary-font);
  font-size: 0.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  text-align: center;
  color: var(--rights-color);
  margin: 0;
  opacity: 0.5;
}
