<h1>Battle field</h1>
<section
  *ngIf="teamState !== 'empty'"
  class="battleContent"
  [ngClass]="{
    incomplete: teamState === 'incomplete',
  }"
>
  <ul class="team">
    <ng-container *ngFor="let index of [0, 1, 2]; let i = index">
      <li class="pokemon" *ngIf="playerTeam[i]; else missingTemplate">
        <div>
          <img
            src="{{ playerTeam[i].sprites.official_artwork }}"
            alt="{{ playerTeam[i].name }}
          official artwork"
          />
        </div>
        <button
          class="removePokemon"
          (click)="removePokemon(playerTeam[i].name)"
        ></button>
      </li>

      <ng-template #missingTemplate>
        <li class="pokemon placeholder">
          <div></div>
        </li>
      </ng-template>
    </ng-container>
  </ul>

  <button
    class="startBattle"
    [disabled]="playerTeam.length < 3"
    (click)="startBattle()"
  >
    Start battle
  </button>
</section>

<section *ngIf="battleState === 'started'">
  <battle [playerTeam]="playerTeam" (battleState)="surrender()"></battle>
</section>

<section *ngIf="teamState === 'empty'">
  <states
    state="empty"
    text="Go and choose your pokemon to start a battle!"
    link="/AllPokémons"
    linkText="choose your pokemons"
  ></states>
</section>

<!-- bron: https://downloads.khinsider.com/game-soundtracks/album/pokemon-sword-shield-ost -->
<audio
  id="lobbyMusic"
  loop
  src="https://vgmsite.com/soundtracks/pokemon-sword-shield-ost/zonzcdmspz/52%20-%20Gym%20Challenge%20~%20Lobby.mp3"
></audio>

<button class="musicButton" (click)="playMusic()">
  <img
    *ngIf="isMusicPlayed"
    src="/assets/images/icons/speaker.svg"
    alt="speaker icon"
  />
  <img
    *ngIf="!isMusicPlayed"
    src="/assets/images/icons/speaker-muted.svg"
    alt="muted speaker icon"
  />
</button>
