<article class="statesContainer" *ngIf="circleListSrcs.length > 0">
  <section
    class="animationContainer"
    [ngClass]="{
      errorState: state === 'error',
      emptyState: state === 'empty'
    }"
  >
    <div class="centerImage" *ngIf="state === 'empty'">
      <img [src]="centerImageSrc" alt="unown question form " />
    </div>
    <ul class="elementsList">
      <li
        *ngFor="let src of circleListSrcs; let i = index"
        [ngStyle]="{
          '--animation-delay': '-' + 2 + i + 's'
        }"
      >
        <img [src]="src" alt="unown form" />
      </li>
    </ul>
  </section>

  <section
    class="content"
    [ngClass]="{
      errorState: state === 'error',
    }"
  >
    <p>{{ text }}</p>

    <a routerLink="/{{ link }}" *ngIf="linkText != ''">{{ linkText }}</a>
  </section>
</article>
