div {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 1.5em;
  width: 100%;
  color: var(--titles-color);
}

.pokemonList {
  width: 98.5%;
  list-style-type: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(9em, 1fr));
  gap: 1em;
  margin: auto 0;
}

.pokemonList li {
  width: 100%;
  border-radius: 1em;
  box-shadow: var(--box-shadow);
  overflow: hidden;

  background-color: var(--white);
  position: relative;
}
