<div>
  <h1 *ngIf="pageTitle != 'search'">{{ pageTitle }}</h1>

  <span class="container" *ngIf="pageTitle === 'All Pokémons'">
    <ul class="pokemonList">
      <ng-container *ngFor="let pokemon of pokemonList; let i = index">
        <li *ngIf="pokemon; else loadingTemplate">
          <pokemonBlock
            [pokemonData]="pokemon"
            (openDialogEvent)="openDialog($event)"
          ></pokemonBlock>
        </li>
        <ng-template #loadingTemplate>
          <li>
            <loadingPokemonBlock></loadingPokemonBlock>
          </li>
        </ng-template>
      </ng-container>
    </ul>
  </span>

  <span class="container" *ngIf="pageTitle === 'Favorites'">
    <ul class="pokemonList" *ngIf="pokemonList.length > 0; else emptyTemplate">
      <ng-container *ngFor="let pokemon of pokemonList">
        <li *ngIf="pokemon; else loadingTemplate">
          <pokemonBlock
            [pokemonData]="pokemon"
            (openDialogEvent)="openDialog($event)"
            (reCheckListEvent)="reCheckList()"
          ></pokemonBlock>
        </li>
        <ng-template #loadingTemplate>
          <li>
            <loadingPokemonBlock></loadingPokemonBlock>
          </li>
        </ng-template>
      </ng-container>
    </ul>

    <ng-template #emptyTemplate>
      <states
        state="empty"
        text="No Pokemons found in your favorites"
        link="All-Pokémons"
        linkText="Add pokemon"
      ></states>
    </ng-template>
  </span>
</div>
